body {
  margin: 0;
  padding: 0;
}

.header {
  background: var(--header-container-color);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 50px;
}

.header .header-container {
  background: rgba(255, 0, 0, 0.338);
  height: 100%;
  width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header-container .menu-btn {
  display: none;
}

.header .header-container .home-page {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 12px;
}

.header .header-container .home-page a {
  text-decoration: none;
  font-family: arial;
  font-weight: bold;
  color: white;
  padding: 0 5px;
}

.header .header-container .home-page a .com {
  color: black;
}

.header .header-container .home-page:hover {
  cursor: pointer;
  background: var(--header-hover-color);
}

.header .header-container .right-header-hide, .header .header-container .right-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.header .header-container .right-header-hide div, .header .header-container .right-header div {
  padding: 0px 5px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 12px;
}

.header .header-container .right-header-hide div a, .header .header-container .right-header div a {
  font-family: arial;
  text-decoration: none;
  color: white;
}

.header .header-container .right-header-hide div:hover, .header .header-container .right-header div:hover {
  background: var(--header-hover-color);
}

.header .header-container .right-header-hide .exit-btn, .header .header-container .right-header .exit-btn {
  display: none;
}

:root {
  --header-hover-color: rgb(255, 162, 178);
  --header-container-color: pink;
}

@media only screen and (max-width: 688px) {
  .header {
    position: fixed;
    left: 0;
    right: 0;
    height: 50px;
  }
  .header .header-container {
    width: 95%;
  }
  .header .header-container .home-page a {
    font-size: 25px;
  }
  .header .header-container .menu-btn {
    width: 35px;
    margin: 0 10px;
    display: unset;
  }
  .header .header-container .right-header {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
    position: fixed;
    background: #ffc5c5;
    height: 300px;
    top: 0;
    left: 0;
    right: 0;
    display: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 55px;
    border-radius: 0 0 10px 10px;
  }
  .header .header-container .right-header div {
    margin: 0;
    display: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .header .header-container .right-header div a {
    color: white;
    font-weight: bold;
    margin-right: 20px;
  }
  .header .header-container .right-header .exit-btn {
    display: unset;
    position: absolute;
    width: 20px;
    padding: 5px;
    right: 20px;
    top: 10px;
    border: 2.5px solid white;
    border-radius: 50%;
  }
  .header .header-container .right-header .exit-btn:active {
    background: var(--header-hover-color);
  }
  .header .header-container .right-header-hide {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
    position: fixed;
    background: #ffc5c5;
    height: 300px;
    top: 0;
    left: 0;
    right: 0;
    display: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 55px;
  }
  .header .header-container .right-header-hide div {
    margin: 0;
    display: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .header .header-container .right-header-hide div a {
    color: white;
    font-weight: bold;
    margin-right: 20px;
  }
  .header .header-container .right-header-hide .exit-btn {
    display: unset;
    position: absolute;
    width: 20px;
    padding: 5px;
    right: 20px;
    top: 10px;
    border: 2.5px solid white;
    border-radius: 50%;
  }
  .header .header-container .right-header-hide .exit-btn:active {
    background: var(--header-hover-color);
  }
}
/*# sourceMappingURL=design.css.map */