body {
  margin: 0;
  padding: 0;
  height: 1000px;
  background: rgba(255, 192, 203, 0.553);
}

.header {
  background: var(--header-container-color);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 50px;
  z-index: 999;
}

.header .header-container {
  background: var(--header-container-color);
  height: 100%;
  width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header-container .menu-btn {
  display: none;
}

.header .header-container .home-page {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 12px;
}

.header .header-container .home-page a {
  text-decoration: none;
  font-family: arial;
  font-weight: bold;
  font-size: 30px;
  color: white;
  padding: 0 5px;
}

.header .header-container .home-page a .com {
  color: pink;
  background: white;
  border-radius: 50px;
  padding: 0 8px;
}

.header .header-container .home-page a .com:hover {
  -webkit-box-shadow: 1px 1px 10px white;
          box-shadow: 1px 1px 10px white;
}

.header .header-container .home-page:hover {
  cursor: pointer;
}

.header .header-container .right-header-hide, .header .header-container .right-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-column-gap: 15px;
          column-gap: 15px;
}

.header .header-container .right-header-hide div, .header .header-container .right-header div {
  padding: 0px 5px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-container .right-header-hide div a, .header .header-container .right-header div a {
  font-family: arial;
  text-decoration: none;
  color: white;
}

.header .header-container .right-header-hide div:hover, .header .header-container .right-header div:hover {
  cursor: pointer;
  background: var(--header-hover-color);
}

.header .header-container .right-header-hide .exit-btn, .header .header-container .right-header .exit-btn {
  display: none;
}

.container {
  margin-top: 50px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(222, 163, 174, 0.638)), to(rgba(0, 0, 0, 0.661))), url(../img/bg.jpg);
  background-image: linear-gradient(rgba(222, 163, 174, 0.638), rgba(0, 0, 0, 0.661)), url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.container .center-container {
  background: rgba(0, 0, 0, 0.4);
  width: 1000px;
  margin: 0 auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.container .center-container .header-leftSide, .container .center-container .header-rightSide {
  width: 50%;
  height: 95%;
  margin: 10px;
  position: relative;
}

.container .center-container .header-leftSide #black, .container .center-container .header-rightSide #black {
  color: #ffbfbf;
  -webkit-box-shadow: 1px 1px 10px pink;
          box-shadow: 1px 1px 10px pink;
  border-radius: 20px;
  padding: 0 15px;
  background: white;
}

.container .center-container .header-leftSide h1, .container .center-container .header-rightSide h1 {
  font-family: arial;
  color: white;
}

.container .center-container .header-leftSide p, .container .center-container .header-rightSide p {
  font-family: arial;
  color: white;
}

.container .center-container .header-leftSide .code-img, .container .center-container .header-rightSide .code-img {
  width: 400px;
  border-radius: 20px;
  -webkit-box-shadow: 12px 11px 15px black;
          box-shadow: 12px 11px 15px black;
  position: absolute;
  right: 35px;
  bottom: 50px;
  opacity: .7;
}

.container .center-container .header-leftSide .code-img:hover, .container .center-container .header-rightSide .code-img:hover {
  opacity: .9;
  cursor: pointer;
}

.body-container {
  width: 1000px;
  height: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  row-gap: 5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px 0 0 0;
}

.body-container .boxes {
  width: 192px;
  height: auto;
  padding-bottom: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(36, 17, 123, 0.97)), to(#ba4848));
  background: linear-gradient(rgba(36, 17, 123, 0.97), #ba4848);
  -webkit-box-shadow: 3px 3px 5px black;
          box-shadow: 3px 3px 5px black;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border: 2px solid black;
}

.body-container .boxes:hover {
  -webkit-box-shadow: 8px 8px 8px black;
          box-shadow: 8px 8px 8px black;
  border-radius: 2px;
  background: -webkit-gradient(linear, left top, left bottom, from(#4616ad), to(rgba(144, 20, 20, 0.938)));
  background: linear-gradient(#4616ad, rgba(144, 20, 20, 0.938));
}

.body-container .boxes h1 {
  text-align: center;
  margin: 0;
  font-size: 150px;
  color: var(--codes-color);
}

.body-container .boxes .title {
  margin: 0 10px 10px 10px;
  font-family: arial;
  font-weight: 800;
  font-size: 10px;
  color: var(--codes-color);
  text-align: center;
  border-radius: 10px;
}

.body-container .boxes div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.436);
  width: 95%;
}

.body-container .boxes .code {
  margin: 5px 0;
  font-family: arial;
  font-size: 18px;
  display: inline-block;
  color: var(--codes-color);
}

.body-container .boxes .codeName {
  margin: 5px 0;
  opacity: .7;
  color: var(--codes-color);
  font-family: arial;
  font-size: 10px;
  display: inline-block;
}

footer {
  background: #1d1d1d;
}

.foot {
  background: #2d2d2d;
  width: 1000px;
  height: 120px;
  margin: 20px auto 0 auto;
  position: relative;
}

.foot .design {
  margin: 0;
  color: white;
  font-family: arial;
  position: absolute;
  top: 60%;
  left: 20px;
  opacity: .7;
}

.foot .design #year {
  font-size: 12px;
}

.foot .social {
  position: absolute;
  right: 150px;
  top: 20px;
}

.foot .social h5 {
  margin: 0;
  font-family: arial;
  color: white;
}

.foot .social div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.foot .social img {
  margin-top: 5px;
  border-radius: 50%;
  width: 30px;
  padding: 0;
  background: white;
  margin: 0;
  cursor: pointer;
}

.foot .social a {
  text-decoration: none;
  color: white;
  font-family: arial;
  margin: 0 8px;
  font-size: 12px;
  position: relative;
}

.foot .social a:hover #g {
  opacity: 1;
}

.foot .social #g {
  position: absolute;
  background: black;
  padding: 5px 10px;
  border-radius: 10px 10px 10px 0;
  left: 10px;
  top: -30px;
  pointer-events: none;
  opacity: 0;
  font-weight: 800;
}

:root {
  --codes-color: rgb(255, 255, 255);
  --header-hover-color: rgba(255, 137, 137, 0.289);
  --header-container-color: rgb(255, 180, 193);
  --container-color: rgb(149, 149, 149);
}

@media only screen and (max-width: 992px) {
  .header {
    position: fixed;
    left: 0;
    right: 0;
  }
  .header .header-container {
    width: 95%;
    margin: 0 auto;
  }
  .header .header-container .right-header-hide div a {
    font-size: 12px;
  }
  .container .center-container {
    width: 95%;
  }
  .container .center-container .header-leftSide h1 {
    font-size: 25px;
  }
  .container .center-container .header-rightSide .code-img {
    width: 90%;
  }
  .body-container {
    width: 100%;
    -webkit-column-gap: 10px;
            column-gap: 10px;
    row-gap: 10px;
  }
  .body-container .boxes {
    width: 30%;
  }
  .body-container .boxes h1 {
    font-size: 140px;
  }
  .body-container .boxes .title {
    font-size: 12px;
  }
  .body-container .boxes .codeName {
    font-size: 12px;
  }
  .foot {
    width: 95%;
  }
}

@media only screen and (max-width: 688px) {
  .header {
    position: fixed;
    left: 0;
    right: 0;
    height: 50px;
  }
  .header .header-container {
    width: 95%;
  }
  .header .header-container .home-page a {
    font-size: 25px;
  }
  .header .header-container .menu-btn {
    font-size: 35px;
    color: white;
    font-weight: bold;
    width: 30px;
    margin: 0 10px;
    margin-bottom: 5px;
    display: unset;
  }
  .header .header-container .right-header {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    -webkit-transition: -webkit-transform .4s ease-in-out;
    transition: -webkit-transform .4s ease-in-out;
    transition: transform .4s ease-in-out;
    transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
    position: fixed;
    background: #ffb3bf;
    height: 300px;
    top: 0;
    left: 0;
    right: 0;
    display: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 55px;
    border-radius: 0 0 10px 10px;
  }
  .header .header-container .right-header div {
    margin: 0;
    display: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    opacity: .8;
    -webkit-transition: padding .25s ease-in-out;
    transition: padding .25s ease-in-out;
  }
  .header .header-container .right-header div a {
    color: white;
    font-weight: bold;
    margin-right: 20px;
  }
  .header .header-container .right-header div:hover {
    -webkit-transition: padding .25s ease-in-out;
    transition: padding .25s ease-in-out;
    padding: 0 40px;
    opacity: 1;
  }
  .header .header-container .right-header div:hover a {
    color: white;
    font-size: 22px;
  }
  .header .header-container .right-header .exit-btn {
    display: unset;
    position: absolute;
    width: 20px;
    padding: 5px;
    right: 20px;
    top: 10px;
    border: 2.5px solid white;
    border-radius: 50%;
  }
  .header .header-container .right-header .exit-btn:active {
    background: var(--header-hover-color);
  }
  .header .header-container .right-header-hide {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: -webkit-transform .4s ease-in-out;
    transition: -webkit-transform .4s ease-in-out;
    transition: transform .4s ease-in-out;
    transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
    position: fixed;
    background: #ffc5c5;
    height: 300px;
    top: 0;
    left: 0;
    right: 0;
    display: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 55px;
  }
  .header .header-container .right-header-hide div {
    margin: 0;
    display: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .header .header-container .right-header-hide div a {
    color: white;
    font-weight: bold;
    margin-right: 20px;
  }
  .header .header-container .right-header-hide .exit-btn {
    display: unset;
    position: absolute;
    width: 20px;
    padding: 5px;
    right: 20px;
    top: 10px;
    border: 2.5px solid white;
    border-radius: 50%;
  }
  .header .header-container .right-header-hide .exit-btn:active {
    background: var(--header-hover-color);
  }
  .container {
    margin-top: 50px;
    background-size: cover;
  }
  .container .center-container {
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .center-container .header-leftSide {
    height: 70%;
    width: 95%;
  }
  .container .center-container .header-leftSide h1 {
    font-size: 20px;
  }
  .container .center-container .header-leftSide p {
    font-size: 18px;
  }
  .container .center-container .header-rightSide {
    height: 30%;
    width: 95%;
  }
  .container .center-container .header-rightSide .code-img {
    width: 150px;
    bottom: 5px;
    right: 10px;
  }
  .body-container {
    width: 100%;
    padding: 5px 0;
    margin: 0;
    row-gap: 8px;
    -webkit-column-gap: 5px;
            column-gap: 5px;
  }
  .body-container .boxes {
    width: 30%;
    height: auto;
    border-radius: 5px;
    border: 2px solid black;
    -webkit-box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.534);
            box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.534);
  }
  .body-container .boxes h1 {
    font-size: 100px;
  }
  .body-container .boxes .title {
    font-size: 9px;
  }
  .body-container .boxes div {
    display: unset;
    width: 95%;
  }
  .body-container .boxes .codeName {
    font-size: 7px;
    display: block;
    text-align: center;
  }
  .body-container .boxes .code {
    font-size: 20px;
    letter-spacing: .2px;
    display: block;
    text-align: center;
  }
  footer {
    width: 100%;
  }
  .foot {
    width: 95%;
    position: relative;
    height: 150px;
  }
  .foot .design {
    position: absolute;
    top: 65%;
    font-size: 10px;
  }
  .foot .social {
    position: absolute;
    top: 10%;
    left: 10px;
  }
  .foot .social div {
    position: absolute;
  }
}
/*# sourceMappingURL=design.css.map */